<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-3.0.xsd">
    <description>Shiro 配置</description>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- 自定义的realm -->
        <property name="realm" ref="sampleRealmService"/>
    </bean>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!-- 登陆页面的连接 -->
        <property name="loginUrl" value="/content/login"/>
        <!-- 身份验证后跳转的连接 -->
        <property name="successUrl" value="/content/example"/>
        <property name="unauthorizedUrl" value="/content/example"/>
        <property name="filters">
            <util:map>
                <entry key="authc">
                    <bean class="org.apache.shiro.web.filter.authc.PassThruAuthenticationFilter"/>
                </entry>
            </util:map>
        </property>
        <!-- 指定过滤器
            Anon：不指定过滤器,不错是这个过滤器是空的，什么都没做，跟没有一样。
            Authc:验证，这些页面必须验证后才能访问，也就是我们说的登录后才能访问。
            这里还有其他的过滤器，我没用，比如说授权
         -->
        <property name="filterChainDefinitions">
            <value>
                /extjs/** = anon
                /js/** = anon
                /content/** = anon
                /** = authc
            </value>
        </property>
    </bean>

</beans>