<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" type="text/css" href="extjs/ext-theme-classic/ext-theme-classic-all.css" />
<script type="text/javascript" src="extjs/ext-all.js"></script>
<script type="text/javascript" src="extjs/ext-lang-zh_CN.js"></script>
</head>
<body>
<script type="text/javascript">
     Ext.onReady(function(){

    	 var menu = Ext.create('Ext.menu.Menu',{
    		 plain:true,
    		 items:[{
    			text:'新建',
    			handler:function(){
    				alert('you click the NEW')
    			}
    		},{
    			text:'保存'
    		},{
    			text:'删除'
    		}]
    	 });

    	 var westPanel = Ext.create('Ext.panel.Panel',{

    	 })

    	 Ext.create('Ext.container.Viewport', {
    		    layout: 'border',
    		    items: [{
    		        title: 'South',
    		        region: 'south',
    		        xtype: 'panel',
    		        height: 100,
    		        split: true,
    		        margins: '0 5 5 5'
    		    },{
    		        title: 'West',
    		        region:'west',
    		        xtype: 'panel',
    		        margins: '5 0 0 5',
    		        width: 200,
    		        collapsible: true,
    		        id: 'west-region-container',
    		        layout: 'accordion',
    		        items:[{
    		        	title:'Chinese',
    		        	layout:{
    		        		type:'vbox',
    		        		align:'stretch'
    		        	},
    		        	items:[{
    		        		xtype:'button',
    		        		text:'NO.1',
    		        		handler:function(){
        		        		alert('click the NO.1')
            		        }
    		        	},{
    		        		xtype:'button',
    		        		text:'NO.2',
    		        		handler:function(){
        		        		alert('click the NO.2')
            		        }
    		        	}]
    		        },{
    		        	title:'English',
    		        	text:'EG',
    		        	handler:function(){
    		        		alert('click the EG')
    		        	}
    		        }]
    		    },{
    		        title: 'Center',
    		        region: 'center',
    		        xtype: 'form',
    		        layout: 'column',
    		        defaults:{
    		        	xtype:'textfield',
    		        	columnWidth:'0.25',
    		        	margin:'10 0 10 0'
    		        },
    		        items:[{
    		        	name:'userName',
    		        	fieldLabel:'用户名',
    		        	labelAlign:'right'
    		        },{
    		        	name:'password',
    		        	fieldLabel:'密码',
    		        	labelAlign:'right'
    		        }],
    		        dockedItems: [{
    		            xtype: 'toolbar',
    		            dock: 'top',
    		            items: [{
    		                text: '菜单',
    		                menu: menu
    		            }]
    		        }]
    		    },{
    		        title: 'North',
    		        region: 'north',
    		        xtype: 'panel',
    		        height: 100,
    		        layout: 'fit',
    		        margins: '5 5 0 0'
    		    },{
    		        title: 'East',
    		        region: 'east',
    		        xtype: 'panel',
    		        margins: '5 0 0 5',
    		        width: 200,
    		        collapsible: true,
    		        id: 'east-region-container',
    		        layout: 'fit'
    		    }],
    		    renderTo: Ext.getBody()
    		});
       });
</script>
</body>
</html>